  <div class="ui header">Published Posts</div>
  
  #{list items:user.posts.reverse(), as:'post'}
  
    <div class="ui fluid card">
	  <div class="content">
	    <div class="header">${post.title}</div>
	    <div class="description">
	      ${post.content}
	      
	      
	      <form action="/blog/sendcomment/${user.id}/${post.id}" method="POST">
		    <div class="field">   
		      <textarea name="commentText" placeholder="Comment"></textarea>
		    </div>
		    <button  class="ui blue labeled submit icon button">
              <i class="icon edit"></i> Send
            </button>
		  </form>
		  
		   
	          #{list items:post.comments, as:'comment'}
	           
	              ${comment.from.firstName}
	              ${comment.commentText}
	            
	          #{/list}
          
	    </div>
	  </div>
	</div>
  #{/list}