        <div class="ui bottom fixed secondary menu" style="background-color:rgba(255, 255, 255, 1);border-top:1px solid grey;">
  		  <div class="ui center aligned middle aligned padded grid">
  		    <div class="two wide column padding">
  		      <a class="item size">Features</a>
  		    </div>
  		    <div class="two wide column padding">
 		      <a class="item size">Privacy Policy</a>
 		    </div>
 		    <div class="two wide column padding">
  		      <a class="item size">Customer Support</a>
  		    </div>
  		  </div>
		</div>