#{extends 'main.html' /}
#{set title:'Public Profile Page' /}

<div class="ui segment" style="background-color:black;">
		<nav class="ui inverted secondary main menu">
		  <div class="left menu">
			<a class="item" href="/home">
			  <i class="white circle notched icon"></i> 
			  Spacebook
			</a>
		  </div>
		  <div class="right menu">
  		     <a class="ui item active border" href="/home">Home</a></li>
  	   	  </div>
		</nav> 
	  </div>    

    <div class="ui center aligned top aligned padded stackable grid">
    
      <div class="six wide column">
        
          #{include "components/profilesummary.html" /}
		
      </div>
      
      <div class="seven wide column">
      	<div class="row">
         #{include "components/comments.html" /} 
        </div>
        
        <div class="row">
          <div class="ui header">Send ${user.firstName} a message</div>
          <form action="/publicprofile/sendmessage/${user.id}" class="ui form" method="post">
          <div class="field">
            <textarea name="messageText" placeholder="Message"></textarea>
          </div>
          <button  class="ui blue labeled submit icon button">
            <i class="icon edit"></i> Send
          </button>
        </form> 
        </div>
        
      </div>