#{extends 'main.html' /}
#{set title:'Blog' /}

<div class="ui segment" style="background-color:black;">
		<nav class="ui inverted secondary main menu">
		  <div class="left menu">
			<a class="item" href="/home">
			  <i class="white circle notched icon"></i> 
			  Spacebook : ${user.firstName} ${user.lastName}
			</a>
		  </div>
		  <div class="right menu">
  		    <a class="ui item" href="/home">Home</a>      
  			<a class="ui item" href="/members">Members</a>   
 			<a class="ui item" href="/profile">My Profile</a>  
  			<a class="ui item active border" href="/blog">Blog</a>
  			<a class="ui item" href="/editprofile">Account Settings</a>  
  			<a class="ui item" href="/logout">Logout</a> 
  	   	  </div>
		</nav> 
	  </div>
	 
<div class="ui center aligned top aligned padded grid">
  <div class="twelve wide column">
    <div class="row">
    <div class="ui fluid card">
	  <div class="content">
	    <div class="description">
	   	   
	    <section class="ui form segment">
          <form action="/editpost/${post.id}" method="post">
            <div class="field">
              <label>Title</label>
              <textarea name="title" style="height:15px;">${post.title}</textarea>
            </div>
            <div class="field">
              <label>Content</label>
              <textarea name="content" style="height:15px;">${post.content}</textarea>
            </div>
            <input class="ui blue button" type="submit" name="submit" value="Save" />
          </form>
         </section>
	      
	      <div class="ui divider"></div>
	      
	      <div class="ui center aligned top aligned padded grid">
		   
		   <div class="twelve wide column">
		   <div class="ui small header">Comments</div>
		   <div class="ui center aligned middle aligned padded grid">
		   
	          #{list items:post.comments, as:'comment'}
	              <div class="row">
			          <div class="three wide column">
			          	${comment.from.firstName}
			          </div>
			          <div class="five wide column">
		                  ${comment.commentText}
		              </div>
		              <div class="five wide column">
		                  ${comment.date}
		              </div>
		              <div class="one wide column">
		                  <form action="/blog/deletecomment/${comment.id}/${post.id}" method="POST">
					         <input class="ui button" type="submit" name="submit" value="Delete" />
					      </form>
		              </div>
	              </div>
	          #{/list}
	        </div>
	          </div>
	          
	          <div class="four wide column">
	           <div class="ui small header">Leave a comment</div>
		      <form action="/blog/sendcomment/${user.id}/${post.id}" method="POST">
			    <div class="field">   
			      <textarea name="commentText" placeholder="Comment"></textarea>
			    </div>
			    <button class="ui button">Send</button>
			  </form>
			 
			  </div>
          </div>
          
          
	    </div>
	  </div>
	</div>

    </div>
  </div>
  <div class="one wide column">
    <div class="row" style="padding-bottom: 10px;">
      <form action="/blog/editpost/${post.id}" method="POST">
         <input class="ui button" type="submit" name="submit" value="Edit Post" />
      </form>
      </div>
      <div class="row">
      <form action="/blog/deletepost/${post.id}" method="POST">
         <input class="ui button" type="submit" name="submit" value="Delete Post" />
      </form>
  </div>
 </div>
</div>
