#{extends 'main.html' /}
#{set title:'Welcome to Spacebook' /}

    <div class="ui background container">

	  <div class="ui segment" style="background-color:black;">
		<nav class="ui inverted secondary main menu">
		  <div class="left menu">
			<a class="item" href="/home">
			  <i class="white circle notched icon"></i> 
			  Spacebook 
			</a>
		  </div>
		  <div class="right menu">
  		    <a class="item border" href="/signup"> Signup  </a>
  			<a class="item border" href="/login">  Login   </a>
  	   	  </div>
		</nav> 
	  </div>
	
	
	
		<div class="ui center aligned middle aligned padded grid">
		  <div class="column">
	  		<div class="row">
	  	  		<div class="header welcome">Welcome to Spacebook.</div>
	  		</div>
	  		<div class="row">
	  	    	<div class="header" style="color:rgba(255, 255, 255, 0.8);">A social networking app that helps you stay connected.</div>
	  	    </div>
	  	  </div>
    	</div>
    
        <div class="ui bottom fixed secondary menu" style="background-color:rgba(255, 255, 255, 0.8);">
  		  <div class="ui center aligned middle aligned padded grid">
  		    <div class="two wide column padding">
  		      <a class="item size">Features</a>
  		    </div>
  		    <div class="two wide column padding">
 		      <a class="item size">Privacy Policy</a>
 		    </div>
 		    <div class="two wide column padding">
  		      <a class="item size">Customer Support</a>
  		    </div>
  		  </div>
		</div>
</div>