#{extends 'main.html' /}
#{set title:'Welcome to Spacebook' /}

    <div class="ui background container">

	  <div class="ui segment" style="background-color:black;">
		<nav class="ui inverted secondary main menu">
		  <div class="left menu">
			<a class="item" href="/home">
			  <i class="white circle notched icon"></i> 
			  Spacebook 
			</a>
		  </div>
		  <div class="right menu">
		  <div class="ui simple dropdown item" style="color:#8C8C8C;">
			    <i class="fa fa-users"></i> 
			      <a class="in-menu">Public Blogs</a>
			    <i class="fa fa-caret-down"></i>
			    <div class="menu">
				    #{list items:users, as:'user'}
			  		    #{if user.posts.size() > 0}
					      <div class="item" style="color: black;">
					        <a style="color: black;" href="/blog/${user.id}">${user.firstName} ${user.lastName}</a>
						  </div>
					    #{/if}
				    #{/list}
			    </div>
			</div>
  		    <a class="item border" href="/signup"> Signup  </a>
  			<a class="item border" href="/login">  Login   </a>
  	   	  </div>
		</nav> 
	  </div>
	
	
	
		<div class="ui center aligned middle aligned padded grid">
		  <div class="ten wide column">
	  		<div class="row">
	  	  		<div class="header welcome">Welcome to Spacebook.</div>
	  		</div>
	  		<div class="row">
	  	    	<div class="header" style="color:rgba(255, 255, 255, 0.8);">A social networking app that helps you stay connected.</div>
	  	    </div>
	  	    <div class="row" style="padding-top: 10px;">
	  		
	  		
	  		
            
	  		</div>
	  		
	  	  </div>
    	</div>
    
        #{include "components/footer.html" /}
</div>
