#{extends 'main.html' /}
#{set title:'Signup for Spacebook' /}

<div class="background">

      <div class="ui segment" style="background-color:black;">
		<nav class="ui inverted secondary main menu">
		  <div class="left menu">
			<a class="item" href="/home">
			  <i class="white circle notched icon"></i> 
			  Spacebook 
			</a>
		  </div>
		  <div class="right menu">
  		    <a class="item border" href="/signup"> Signup  </a>
  			<a class="item border" href="/login">  Login   </a>
  	   	  </div>
		</nav> 
	  </div>

<section class="ui form">
  <form action="/register" method="POST">
   <div class="ui center aligned middle aligned padded grid">
   <div class="six wide column">
   
     <div class="row">
	    <div class="header log">Sign up here:</div>
	 </div>
	 
	 <div class="row">
    <div class="two fields">
      <div class="field">
        <input placeholder="First Name" type="text" name="firstName">
      </div>
      <div class="field">
        <input placeholder="Last Name" type="text" name="lastName">
      </div>
    </div> 
    <div class="two fields">
      <div class="field">
        <input placeholder="Age" type="number" name="age">
      </div>
      <div class="field">
        <input placeholder="Nationality" type="text" name="nationality">
      </div>
    </div> 
    <div class="field">
      <input placeholder="Email" type="text" name="email">
    </div>
    <div class="field">
      <input placeholder="Password" type="password" name="password">
    </div>
    <button class="ui blue submit button">Submit</button>
    </div>
    </div>
   </div>
  </form>
</section> 

        #{include "components/footer.html" /}

</div>